*{
  margin:0;
}
body{
  text-align: center;
  background-color: #CAF7E3
}
.top-container{
  position: relative;
  padding-top:  100px;

}

.mid-container{
  background-color: red;


}
.bottom-container{

}
.cloud2{
  left: 300px;
  position: absolute;
}
.cloud1{
  position:absolute;
  right: 300px;
  top: 20px;
}
